I AM A HUB: false
TRANSIENT LEAF: true
POLL DIRECTORY: /var/lib/QDDS/poll/
OUTPUT DIRECTORY: /var/lib/QDDS/out/
STORAGE DIRECTORY: /var/lib/QDDS/storage/
LOG DIRECTORY:  /var/log/QDDS/
TEMPORARY DIRECTORY:  /tmp/
LISTEN PORT TCP:   2222
LISTEN PORT UDP:   2222
DAYS TO RETAIN OUTPUTDIR FILES: 7
DAYS TO RETAIN STORAGEDIR FILES: 7
DAYS TO RETAIN LOG FILES: 90
POLL WAIT TIME:    2
LOG LEVEL:         3
CONSOLE LOG LEVEL:         1
SMTP SERVER:	smtp.gmail.com
EMAIL TO:	dvr@allshookup.org
EMAIL FROM:	dvr@allshookup.org
