POLL WAIT TIME: 5
POLL DIRECTORY: /var/lib/QDDS/out/
OUTPUTSPOOL DIRECTORY: /var/lib/QDM/out/
CATALOG DIRECTORY: /var/lib/QDM/catalog/
LOG DIRECTORY: /var/log/QDM/
OLDINPUT DIRECTORY: /var/lib/QDM/old/
TEMPORARY DIRECTORY: /tmp/
MAINTENANCE HOUR: 9
DAYS TO RETAIN OUTPUTSPOOL FILES: 7
DAYS TO RETAIN OLDINPUT FILES: 7
DAYS TO RETAIN LOG FILES: 30
DAYS TO RETAIN EVENTS: 366
INITIAL DATE: 200706010000
LOG LEVEL: 4
